<ion-app>
<ion-menu side="start" menuId="main-menu" contentId="main-content" class="dark-menu">
  <ion-header>
    <!-- Toolbar oscuro con logo y título -->
    <ion-toolbar class="menu-toolbar">
      <ion-img src="assets/images/logo.png" class="logo"></ion-img>
      <ion-title>Rodando</ion-title>
    </ion-toolbar>

    <!-- Sección de perfil: avatar, nombre y usuario -->
    <ion-item lines="none" class="profile-section">
      <ion-avatar slot="start">
        <img src="assets/images/user.png" alt="Foto de perfil" />
      </ion-avatar>
      <ion-label class="profile-text">
        <h2>Nombre Usuario</h2>
        <p>usuario</p>
      </ion-label>
    </ion-item>
  </ion-header>

  <ion-content class="menu-content">
    <ion-list lines="none">
      <ion-menu-toggle auto-hide="false" *ngFor="let opt of options">
        <ion-item button  class="menu-item">
          <ion-icon slot="start" [name]="opt.icon"></ion-icon>
          <ion-label>{{ opt.label }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>




  <!-- Único outlet: aquí va TODO (tabs, páginas hijas, etc.) -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
